<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        {% load static %}
      <a class="navbar-brand" href="#"><img class="rounded-circle" src="{% static 'images/cozy.jpg' %}" width="80" height="80" alt="" ></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/admin_home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin_landlords">Landlords</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin_tenants">Tenants</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin_landlord_houses">Rent Houses</a>
          </li>
          
         
          
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>

          

         

        </ul>

       
      </div>
    </div>
  </nav>