<html lang="en">
<head>
 
  {% load static %}
  {% include 'includes.html' %}

</head>
<body>
    {% include 'menu.html' %}
    <div class="container mt-1">
    <img class="card-img-top" src="{% static 'images/rent_house1.webp' %}" alt="">
    </div>
<br>
<div class="container mt-3 card">
    <div class="text-center">
      <A id="about"></A>
        <h3>House Rental Services..</h3>
    </div>

  
  <div class="row">
    <div class="col-sm-4">
        <div class="card" >
            <img class="card-img-top" src="{% static 'images/house1.jpeg' %}" alt="">
            <div class="card-body">
              <h4 class="card-title">Landlords..</h4>
              <p class="card-text">TEasily manage your property listings and connect with potential tenants through our user-friendly interface. Gain valuable insights with our analytics tools and keep track of bookings effortlessly.</p>
              <br><br><br>
              <a href="#" class="btn btn-primary">See More</a>
            </div>
          </div>
    </div>

    <div class="col-sm-4">
        <div class="card" >
            <img class="card-img-top" src="{% static 'images/house2.jpeg' %}" alt="">
            <div class="card-body">
              <h4 class="card-title">Discover Your Dream Home</h4>
              <p class="card-text">Browse through a diverse range of high-quality listings, complete with stunning photos, detailed descriptions. Whether you’re looking for a cozy apartment in the city or a spacious house in the suburbs, our advanced search and filter options help you find exactly what you need.</p>
              <br>
              <a href="#" class="btn btn-primary">See More</a>
            </div>
          </div>
    </div>

    <div class="col-sm-4">
        <div class="card" >
            <img class="card-img-top" src="{% static 'images/house3.jpeg' %}" alt="">
            <div class="card-body">
              <h4 class="card-title">Simplified Renting Process</h4>
              <p class="card-text">Say goodbye to endless paperwork and complicated procedures. Our streamlined booking system allows you to reserve your new home with just a few clicks..</p>
            <br><br><br><br>
              <a href="#" class="btn btn-primary">See More</a>
            </div>
          </div>
    </div>
  </div>
  

<br>
</div>
<A id="contact"></A>
<footer class="bg-dark text-light py-4">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <h5>Contact Us</h5>
              <p>Hyderabad</p>
          </div>
          <div class="col-md-6">
              <h5>Follow Us</h5>
              <ul class="list-unstyled">
                  <li><a href="https://www.facebook.com/northtexas/">Facebook</a></li>
                  <li><a href="https://twitter.com/untsocial">Twitter</a></li>
                  <li><a href="https://www.instagram.com/unt/">Instagram</a></li>
                  <li><a href="https://www.youtube.com/user/universitynorthtexas">YouTube</a></li>
                  <li><a href="https://www.linkedin.com/school/northtexas/">LinkedIn</a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>
</body>
</html>
