<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        {% load static %}
      <a class="navbar-brand" href="#"><img class="rounded-circle" src="{% static 'images/cozy.jpg' %}" width="80" height="80" alt="" ></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/landlord_home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/landlord_profile">Profile</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Rent</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/add_rent_house">Add New Rent House</a></li>
              <li><a class="dropdown-item" href="/house_list">Your Rent Houses</a></li>
              
              
            </ul>
          </li>
         
          
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>

          

         

        </ul>

        <form class="d-flex">
            <span class="text-white">USER:&nbsp;</span> <span class='text-success'><b>{{ user.fullName }}</b></span> ,&nbsp;&nbsp;<span class="text-white"> USER TYPE:&nbsp;</span> <span class='text-warning'><b>{{user.userType}} </b></span>
          </form>
      </div>
    </div>
  </nav>